*{
    list-style-type: none;
}

body{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.ul-menu {
    background-color: #333;
    color:#ffffff; 
    overflow: hidden;
    text-align: center; 
}

.li-menu{
    float: left;
}


.a-menu{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: block;
    padding: 17px;
    
}

.li-menu a:hover{
    background-color: #000;
}

.title-menu{
    font-size: 40px; 
    display: inline;
}

.column{
    width: 50%;
    float: left;
    text-align: center;

}

.profile{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.profile-description{
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center; 
    line-height: 1.6; 
    padding: 10px; 
}


.social{
    width: 25px;
    padding: 5px;
}

.left{
    width: 20%;
    float: left;
}

.right{
    width: 80%;
    float: left;
}

.row{
    padding: 20px;
}

.row:after{
    display: table;
    clear: both;
    content: "";
}

.main-bar{
    background-color: grey;
    display: block;
    height: 25px;
}

.main-bar span{
    background-color: rgb(70, 178, 111);
    height: 25px;
    display: block;
    color: white;
}

.javascript{
    width: 70%;
    animation: javascript 2s;
}

.python{
    width: 70%;
    animation: python 2s;
}

.java{
    width: 80%;
    animation: java 2s;
}

.html{
    width: 60%;
    animation: html 2s;
}

.softwareTesting{
    width: 70%;
    animation: softwareTesting 2s;
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes python {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

@keyframes softwareTesting {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.footer{
    width: 100%;
    height: 40px;
    background-color: #333;
    color: white;
    text-align: center;
}

@media screen and (max-width:800px) {
    .column {
        width: 100%;
    }
    
}